/* home page */
.main-bg-home{
    background-image: url("Image/back1.png");
    height: 100%;
    padding-top: 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.bg-home1{
    height: 100%;
    background-image: url("Image/Bible\ study.png");
    padding-top: 8%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.bg-home2{
    height: 100%;
    background-image: url("Image/bibles.png");
    padding-top: 8%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.bg-home3{
    height: 100%;
    background-image: url("Image/pj3.png");
    padding-top: 8%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.bg-home4{
    height: 100%;
    background-image: url("Image/library.png");
    padding-top: 8%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.bg-verses{
    height: 30%;
    padding-top: 2%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.Verse{
    border-radius: 10px;
    padding: 20px;
}
/* Prayer form */
.prayer-form{
    border: 2px solid#39C0ED;
    border-radius: 10px;
    background-color:#80DEEA;
    padding: 20px;
}
.Prayer-bg{
    height: 100%;
    padding-top: 3%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-content{
    border: 2px solid#39C0ED;
    border-radius: 10px;
    background-color:#80DEEA;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
}
/* REGISTER */
.reg-form-bg{
    border: 2px solid#39C0ED;
    border-radius: 10px;
    background-color:#FBFBFB;
    padding: 20px;
}
.Signup-bg{
    height: 100%;
    padding-top: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
/* Bible */
.bible-bg{
    background-image: url("Image/bibles.png");
    height: 100%;
    padding-top: 8%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.All-Chapter{
    padding: 10px;
    margin: 10px;
}
.chapter{
    padding: 20px;
    margin: 3px 10px
}
/* Study */
.Study-bg{
    background-image: url("Image/Bible\ study.png");
    height: 80%;
    padding-top: 8%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.bg-profile{
    padding: 10px;
    margin: 10px;
}
.profile{
    margin-top: 20px;
    margin-bottom: 25px;
}
/* Lesson */
.lesson-lable{
    padding-top: 20px;
}
.lesson-main{
    padding-top: 20px;
}
.lesson-title{
    padding: 10px;
    margin: 10px 0;
}
.lesson-topics{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* BFAM */
.bfam-mu{
    background-color: aliceblue;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
}
/* Con */
.con-bg{
    background-color: blanchedalmond;
    margin-bottom: 20px;
    padding: 15px;
}
.con-les-bg{
    padding: 20px;
}
/* Con */
/* BFAM */

