/* home page */
.main-bg-home{
    background-image: url("Image/back1.png");
    height: 100%;
    padding-top: 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.bg-home{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.Verse{
    border-radius: 10px;
    padding: 20px;
}
/* Prayer form */
.prayer-form{
    border: 2px solid#39C0ED;
    border-radius: 10px;
    background-color:#80DEEA;
    padding: 20px;
}
.Prayer-bg{
    height: 100%;
    padding-top: 3%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-content{
    border: 2px solid#39C0ED;
    border-radius: 10px;
    background-color:#80DEEA;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
}
/* REGISTER */
.reg-form-bg{
    border: 2px solid#39C0ED;
    border-radius: 10px;
    background-color:#FBFBFB;
    padding: 20px;
}
.Signup-bg{
    height: 100%;
    padding-top: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
/* Bible */
.bible-bg{
    background-image: url("Image/bible.png");
    height: 100%;
    padding-top: 8%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

/* Study */
.Study-bg{
    background-image: url("Image/Bible\ study.png");
    height: 80%;
    padding-top: 8%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

