/* home page */
.btn-1{
    border: 1px solid crimson;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    max-width: 180px;
    background: #E0F2F1;
    color: crimson;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 5px 2px 10px #e0f2f138;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
}
.btn-1:hover{
    text-decoration: none;
    color:#E0F2F1;
    background: crimson;
    transition: 800ms;
}
.btn-2{
    border: 1px solid #0097A7;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 120px;
    background: #E0F2F1;
    color: crimson;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 5px 2px 10px #e0f2f138;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
}
.btn-2:hover{
    text-decoration: none;
    color:#E0F2F1;
    background: #0097A7;
    transition: 800ms;
}
.btn-3{
    border: 1px solid  #0097A7;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 200px;
    background: #E0F2F1;
    color: crimson;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 5px 2px 10px #e0f2f138;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
}
.btn-3:hover{
    text-decoration: none;
    color:#E0F2F1;
    background: #0097A7;
    transition: 800ms;
}
.btn-4{
    border: 1px solid #00B74A;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    margin-left: 20px;
    width: 120px;
    background: #E0F2F1;
    color: #00B74A;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 5px 2px 10px #e0f2f138;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
}
.btn-4:hover{
    text-decoration: none;
    color:#E0F2F1;
    background: #00B74A;
    transition: 800ms;
}
.btn-g{
    padding: 15px 10px;
    margin: .5px;
    text-align: center;
    text-decoration: none;
    border: 1px solid#FFA900;
    border-radius: 5px;
    width: 75px;
    color:  #FFA900;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
  }
  .btn-g:hover{
    color: white;
    background:#FFA900;
    text-decoration: none;
  }
.btn-5{
    border: 1px solid crimson;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    margin-left: 20px;
    width: 100px;
    background: #E0F2F1;
    color: crimson;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 5px 2px 10px #e0f2f138;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
}
.btn-5:hover{
    text-decoration: none;
    color:#E0F2F1;
    background: crimson;
    transition: 500ms;
}
/* Bible Home */
.btn-6{
    border: 1px solid #FFA900;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    max-width: 180px;
    background: #E0F2F1;
    color: #FFA900;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 5px 2px 10px #e0f2f138;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
}
.btn-6:hover{
    text-decoration: none;
    color:#E0F2F1;
    background:#FFA900;
    transition: 800ms;
}
.btn-v{
    border: 1px solid #FFA900;
    border-radius: 3px;
    padding: 5px 10px;
    margin-top: 7px;
    background: #E0F2F1;
    color: #FFA900;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 5px 2px 10px #e0f2f138;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
}
.btn-vs{
    border: 1px solid #FFA900;
    border-radius: 3px;
    padding: 5px 10px;
    margin-top: 7px;
    background: #E0F2F1;
    color: #FFA900;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 5px 2px 10px #e0f2f138;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
}
.btn-vs:hover{
    text-decoration: none;
    color:#E0F2F1;
    background:#FFA900;
    transition: 800ms;
}
.btn-bv{
    border: 1px solid #FFA900;
    border-radius: 3px;
    padding: 10px;
    margin: 0.5px;
    background: #E0F2F1;
    color: #FFA900;
    width: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 5px 2px 10px #e0f2f138;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
}
.btn-bv:hover{
    text-decoration: none;
    color:#E0F2F1;
    background:#FFA900;
    transition: 800ms;
}
.btn-bi{
    border: 1px solid#E65100;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    background: #E0F2F1;
    color: #E65100;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 5px 2px 10px #e0f2f138;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
}
.btn-bi:hover{
    text-decoration: none;
    color:#E0F2F1;
    background: #E65100;
    transition: 800ms;
}
.next-arrow{
    position: fixed;
    margin-top: 250px;
    margin-left: 100px;
}
.right-arr{
    border: 2px solid  #FFA900;
    padding: 11.2px 15.24px;
    margin: 5px;
    color:  #FFA900;
    background: #cbeffa;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
}
.right-arr:hover {
    border: 2px solid #FFA900;
    border-radius: 10px;
    padding: 11.2px 15.24px;
    margin: 5px;
    color: white;
    background:  #FFA900;
    box-shadow: 1px 1px 20px 1px #61616177;
  }
.prev-arrow{
    position: fixed;
    margin-top: 250px;
    margin-right: 90px;
}
/* Study */
.btn-7{
    border: 1px solid #00B74A;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    max-width: 180px;
    background: #E0F2F1;
    color:#00B74A;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 5px 2px 10px #e0f2f138;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
}
.btn-7:hover{
    text-decoration: none;
    color:#E0F2F1;
    background: #00B74A;
    transition: 800ms;
}
/* Prayer */
.btn-8{
    border: 1px solid#39C0ED;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    max-width: 180px;
    background: #E0F2F1;
    color:#39C0ED;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 5px 2px 10px #e0f2f138;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
}
.btn-8:hover{
    text-decoration: none;
    color:#E0F2F1;
    background: #39C0ED;
    transition: 800ms;
}
/* Book */
.btn-9{
    border: 1px solid#E65100;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    max-width: 180px;
    background: #E0F2F1;
    color: #E65100;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 5px 2px 10px #e0f2f138;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
}
.btn-9:hover{
    text-decoration: none;
    color:#E0F2F1;
    background: #E65100;
    transition: 800ms;
}