/* home page */
.h-t1{
    font-size: 80px;
    font-weight: bold;
    color: crimson;
    font-family: 'Bree Serif', serif;
    text-shadow: 2px 2px 5px black;
}
.h-t2{
    font-size: 50px;
    font-family: 'Lobster', cursive;
}
.p-1{
    font-size: 11px;
}
.h-t3{
    font-size: 30px;
    font-weight: bold;
    color: crimson;
    font-family: 'Bree Serif', serif;
}
.h-t5{
    font-size: 30px;
    font-weight: bold;
    color: #00B74A;
    font-family: 'Bree Serif', serif;
}

/* Bible home */
.h-t4{
    font-size: 80px;
    font-weight: bold;
    color: #FFA900;
    font-family: 'Bree Serif', serif;
    text-shadow: 2px 2px 5px black;
}
.p-2{
    font-size: 50px;
}
.h-bib{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    color:#FFA900;
    font-family: 'Bree Serif', serif;
    text-shadow: 1px 1px 5px rgb(26, 1, 1);
}
.ch-1{
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    color:#FFA900;
}
.ch-2{
    font-size: 32px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    color:#FFA900;
}
.ch-p{
    text-align: justify;
}
.ch-lb{
    font-size: 18px;
    font-weight: bold;
    margin-right: 4px;
}
.ch-ver{
    padding-left: 20px;
}
/* Study */
.h-t6{
    font-size: 80px;
    font-weight: bold;
    color: #00B74A;
    font-family: 'Bree Serif', serif;
    text-shadow: 2px 2px 10px rgb(26, 1, 1);
}
/* BFAM */
.bfam-title{
    font-size: 30px;
    font-weight: bold;
    color: #00b74a;
    margin: 20px 0;
    margin-bottom: 30px;
    text-shadow: 2px 2px 10px black;
}
.bfam-t1{
    font-size: 23px;
    font-weight: bold;
    color: #00b74a;
}
.bfam-t2{
    font-size: 20px;
    font-weight: bold;
    color: #00b74a;
    margin-bottom: 20px;
}
.p-3{
    font-size: 18px;
    color: white;
}
.bfam-ul{
    list-style: none;
    font-size: 18px;
    color: #00b74a;
    font-weight: bold;
}
.bfam-li{
    font-size: 16px;
    margin-bottom: 15px;
}
.bfam-a{
    text-decoration: none;
    color:  #00B74A;
}
.bfam-a:hover{
    text-decoration: none;
    color:  #023516;
    transition: 1000ms;
}
.bfam-li-num{
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
}
.bfam-li-t{
    margin-left: 37px;
    opacity: 50%;
    font-size: 15px;
    color:  #00B74A;
}
.bfam-ls-t1{
    font-size: 18px;
    color:  #00B74A;
    font-weight: bold;
}
.bfam-ls-t2{
    font-size: 16px;
    color:  #00B74A;
    font-weight: bold;
}
.bfam-ls-t3{
    font-size: 16px;
    color:  #00B74A;
    font-weight: bold;
    margin: 10px 0;
}
.bfam-ls-ver{
    font-weight: bold;
    color:  #00B74A;
    margin-right: 10px;
}
.bfam-ls-ver1{
    font-weight: bold;
}
.bfam-ls-ver3{
    text-align: justify;
    font-size: 12px;
}
.bfam-ls-ver4{
    font-weight: bold;
    margin-right: 10px;
}
.bfam-ls-ver5{
    font-weight: bold;
    margin-right: 2px;
}
.bfam-ls-p1{
    font-size: 16px;
    text-align: justify;
}
.bfam-ls-p2{
    font-size: 14px;
    text-align: justify;
    
}

/* Con */
.con-t1{
    font-size: 20px;
    color:  #00B74A;
    text-align: right;
}
.con-t2{
    font-size: 22px;
    font-weight: bold;
    color: #00b74a;
    margin-bottom: 20px;
}
.con-t3{
    
    font-size: 18px;
    color:  #00B74A;
    opacity: 50%;
}
/* Con */
/* BFAM */
/* Prayer */
.h-t7{
    font-size: 80px;
    font-weight: bold;
    color:#39C0ED;
    font-family: 'Bree Serif', serif;
    text-shadow: 1px 1px 5px rgb(26, 1, 1);
}
.p-4{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.795);
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.61);
    text-align: center;
    font-weight: bold;
}
/* Book */
.h-t8{
    font-size: 80px;
    font-weight: bold;
    color: #E65100;
    font-family: 'Bree Serif', serif;
    text-shadow: 1px 1px 5px rgb(26, 1, 1);
}