@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Merienda:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('bg.css');
@import url('btn.css');
@import url('font.css');
/* nav */
.navbr-font{
  padding: 2px;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 20px;
  font-weight: bold;
  color: crimson;
  font-family: 'Lobster', cursive;
}
.navbr-font:hover{
  font-size: 20px;
  font-weight: bold;
  color: rgb(252, 115, 142);
}
.navbr-font-sty{
  padding: 5px;
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
  color: crimson;
  text-decoration: none;
  font-family: 'Bree Serif', serif;
  text-shadow: 2px 2px 5px black;
}
.navbr-font-sty:hover{
  color: crimson;
  text-decoration: none;
}
.navbr-font-br{
  padding: 2px;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 16px;
  color: white;
  font-family: 'Bree Serif', serif;
  transition-duration: 1000ms;
}
.navbr-font-br:hover{
  color: rgb(252, 115, 142);
}
.navbr-font-br1{
  padding: 2px;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 16px;
  color: black;
  font-family: 'Bree Serif', serif;
  transition-duration: 1000ms;
}
.navbr-font-br1:hover{
  color: rgb(252, 115, 142);
}
/* nav */
/* index */
body, html {
  height: 100%;
}
.hr-1{
  width: 300px;
  color: black;
  height: 50px;
}
/* Styles required only for the example above */
.scrollspy-example {
  position: relative;
  height: 400px;
  overflow: auto;
}
.scrollspy-example-1 {
  position: relative;
  height: 200px;
  overflow: auto;
}
.scrollspy-example-2 {
  position: relative;
  height: 450px;
  overflow: auto;
}
.val-po{
  margin: 10px;
  padding: 10px;
}
.ad{
  margin: 10px;
  padding: 10px;
}
/* Book */
.book-img{
  height: 180px;
  width: 130px;
  margin: 8px;
  border: 3px solid white;
  border-radius: 3px;
}
.book-img:hover{
  opacity: 30%;
  color: rgb(182, 198, 233);
  transition: 2s;
}
.bookti{
  margin-bottom: 20px;
}